:root {
  --white: #fff;
  --gray: #6f7685;
  --blue-100: #edf2fa;
  --blue-200: #354b7e;
  --black: #1f1f1f;

  --fs-s: 14px;
  --fs-m: 16px;
  --fs-l: 20px;
  --fs-xl: 32px;

  --lh-s: 20px;
  --lh-m: 24px;
  --lh-l: 28px;
  --lh-xl: 38.73px;
}
